<%-include('./partials/header.ejs')%>

<main>
 <h2>Adicionar Produto</h2>
 <form class="menuThree" action="/produtos/adicionar-produto" method="post">
  <label for="nome">Nome:</label>
  <input type="text" name="nome" id="nome">
  
  <label for="preco">Preço:</label>
  <input type="text" name="preco" id="preco">
  
  <label for="id_categorias">Categoria:</label>
  <input type="text" name="id_categorias" id="id_categorias">
  
  
  <button type="submit">Enviar</button>
</form>
</main>

<%-include('./partials/footer.ejs')%>
