<%-include('./partials/header.ejs')%>

<main>
 <h2>Adicionar Produto</h2>
 <form class="menuThree" action="/produtos/adicionar-produto" method="post">
  <label for="nome">Nome</label>
  <input type="text" name="Nome" id="nome">
  
  <label for="preco">Preço</label>
  <input type="text" name="preco" id="preco">
  
  <label for="categoria">Categoria</label>
  <input type="text" name="categoria" id="id_categorias">
  
  
  <button type="submit">Enviar</button>
</form>
</main>

<%-include('./partials/footer.ejs')%>
