<!-- -include('./partials/header.ejs')



-include('./partials/footer.ejs') -->




<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/alimentacao.css">
    <title>Document</title>
</head>
<%-include('./partials/header.ejs')%>
<body>
    <main>
    
      
    <section class="ofertas">
      <h2>Alimentação</h2>
      <div class="card-container">
        <input type="radio" name="card-dot" id="card-one">
        <input type="radio" name="card-dot" id="card-two">
        <div class="main-card">

          <div class="cards">
            <div class="card">
              <article class="content">
                <a href="#">
                  <div class="card-img">
                    <img src="./images/home/img/oferta1.webp" alt="Coleira para cães">
                  </div>
                  <div class="card-details">
                    <a href="/carrinho" id=""  class="acessorios">
                      <p class="card-product-section">Acessórios</p>
                      <p class="card-product-name"></p>
                      <p class="card-product-price">R$ </p>
                    </a>
                    </div>
                </a>
              </article>
            </div>

            <div class="card">
              <article class="content">
                <a href="#">
                  <div class="card-img">
                    <img src="./images/home/img/oferta2.webp" alt="Macaco de pelúcia">
                  </div>
                  <div class="card-details">
                    <p class="card-product-name">Macaco de Pelúcia</p>
                    <p class="card-product-section">Brinquedos</p>
                    <p class="card-product-price">R$ xxx,xx</p>
                  </div>
                </a>
              </article>
            </div>

            <div class="card">
              <article class="content">
                <a href="#">
                  <div class="card-img">
                    <img src="./images/home/img/oferta3.webp" alt="Moletom com capuz">
                  </div>
                  <div class="card-details">
                    <p class="card-product-name">Moletom com Capuz</p>
                    <p class="card-product-section">Roupas</p>
                    <p class="card-product-price">R$ xxx,xx</p>
                  </div>
                </a>
              </article>
            </div>
          </div>


          <div class="cards">
            <div class="card">
              <article class="content">
                <a href="#">
                  <div class="card-img">
                    <img src="./images/home/img/oferta4.webp" alt="Cama para gatos">
                  </div>
                  <div class="card-details">
                    <p class="card-product-name">Cama Clássica</p>
                    <p class="card-product-section">Cama, Mesa, Banho</p>
                    <p class="card-product-price">R$ xxx,xx</p>
                  </div>
                </a>
              </article>
            </div>


            <div class="card">
              <article class="content">
                <a href="#">
                  <div class="card-img">
                    <img src="./images/home/img/oferta5.webp" alt="Bolsa para transporte">
                  </div>
                  <div class="card-details">
                    <p class="card-product-name">Bolsa para Transporte</p>
                    <p class="card-product-section">Acessórios</p>
                    <p class="card-product-price">R$ xxx,xx</p>
                  </div>
                </a>
              </article>
            </div>


            <div class="card">
              <article class="content">
                <a href="#">
                  <div class="card-img">
                    <img src="./images/home/img/oferta6.webp" alt="Loção hidratante">
                  </div>
                  <div class="card-details">
                    <p class="card-product-name">Hidratante para Coxins</p>
                    <p class="card-product-section">Cosméticos</p>
                    <p class="card-product-price">R$ xxx,xx</p>
                  </div>
                </a>
              </article>
            </div>
          </div>
        </div>

      </div>

    </section>
    
    </main>
</body>
<script src="/javascripts/alimentacao.js"></script>
<%-include('./partials/footer.ejs')%>
</html>







<!-- 


<div class="card-product-content">

    <div class="card-header">
        <img itemprop="image"
            alt="Ração Premier Raças Específicas para Golden Retriever Filhotes Sabor Frango 10,1kg"
            title="Ração Premier Raças Específicas para Golden Retriever Filhotes Sabor Frango 10,1kg"
            class="product-img img-responsive"
            src="https://static.petz.com.br/fotos/1669836951520_mini.jpg">
    </div>
    <div class="card-content">
        <h3 itemprop="name" class="name-product">Ração Premier Raças Golden Retriever,1kg</h3>
        <div>
            <div class="display-price">
                <p>
                    R$ 222,99
                </p>
            </div>
            <p>
                ou 2 vezes de
                R$ 111,50
            </p>
        </div>
        <div>
            <div>
                <p>10% OFF</p>
            </div>
            <div>
                <p>
                    R$ 200,69
                </p>
                <img width="14" height="13" class="signature-icon" alt="Icone de assinatura"
                    src="https://static.petz.com.br/images/exp-facelift/subscribe-icon.svg">
            </div>
            <p>para assinantes</p>
        </div>


    </div>
</div> -->