<!DOCTYPE html>
<html>
  <head>
    <title><%=  %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>
    <nav class="navbar">
      <img class="menu-icon" src="../public/images/Hamburger_icon.svg" alt="Ícone do menu" />

      <a href="#"><img class="logo-menu" src="../public/images/logo-petting-mall.png" alt="Logo da Petting Mall" /></a>

      <div class="search-container">
        <span><img class="search-icon" src="../img/menu-magnifying-glass.svg" alt="Ícone de lupa" /></span>
        <input class="search-box" type="search" name="search" placeholder="Digite o nome do produto" />
        <button class="search-button" type="submit">Buscar</button>
      </div>

      <div class="navbar-icons">
        <a href="#"><img src="../img/menu-login-icon.png" alt="Ícone de login" /></a>
        <a href="#"><img src="../img/menu-cart-icon.png" alt="Ícone do carrinho de compras" /></a>
      </div>

      <h1>Página de Categoria</h1>
      <ul class="menu-list">
        <li><a href="#Cachorro">Cachorro</a></li>
        <li><a href="#">Gato</a></li>
        <li><a href="#">Pássaro</a></li>
        <li><a href="#Peixe">Peixe</a></li>
        <li><a href="#">Outros Pets</a></li>
        <li><a href="#">Casa e Jardim</a></li>
      </ul>      


    </nav>
  </header>
  <body>


    <main>
      <section class="cachorro" >        
      
        <h2>Cachorro</h2>
        
        <table>
          <thead>
            <tr>
              <th>ID </th>
              <th>NOME</th>
      
            </tr>
          </thead>
          <tbody>
              <% categorias.forEach(categoria => { %>
              <tr>
                <td><%= categoria.id  %></td>
                <td><%= categoria.nome  %></td> 
              </tr>
              <% }) %>
            </tbody>
      </table>
      
      <h2>Gato</h2>
      <table>
        <thead>
          <tr>
            <th>ID </th>
            <th>NOME</th>
            <th>PRECO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Produto 1</td>
            <td>R$ 10,00</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Produto 2</td>
            <td>R$ 10,00</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Produto 3</td>
            <td>R$ 10,00</td>
          </tr>
        </tbody>
      </table>

        <h2>Passaro</h2>
      <table>
        <thead>
          <tr>
            <th>ID </th>
            <th>NOME</th>
            <th>PRECO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Produto 1</td>
            <td>R$ 10,00</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Produto 2</td>
            <td>R$ 10,00</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Produto 3</td>
            <td>R$ 10,00</td>
          </tr>
        </tbody>


        
      </table>
      
      
      
      
      <h2>
        <a name:"Peixe">Peixe</a> 
      </h2>
      <table>
        <thead>
          <tr>
            <th>ID </th>
            <th>NOME</th>
            <th>PRECO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Produto 1</td>
            <td>R$ 10,00</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Produto 2</td>
            <td>R$ 10,00</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Produto 3</td>
            <td>R$ 10,00</td>
          </tr>
        </tbody>
      </table>
      
      <h2>Outros Pets</h2>
      <table>
        <thead>
          <tr>
            <th>ID </th>
            <th>NOME</th>
            <th>PRECO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Produto 1</td>
            <td>R$ 10,00</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Produto 2</td>
            <td>R$ 10,00</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Produto 3</td>
            <td>R$ 10,00</td>
          </tr>
        </tbody>
      </table>

        <h2>Casa e Jardim</h2>
      <table>
        <thead>
          <tr>
            <th>ID </th>
            <th>NOME</th>
            <th>PRECO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Produto 1</td>
            <td>R$ 10,00</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Produto 2</td>
            <td>R$ 10,00</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Produto 3</td>
            <td>R$ 10,00</td>
          </tr>
        </tbody>


        
      </table>
      
      
      
    </section>
        
      </main>




    <footer class="page-footer">
      <ul class="page-footer-flex">
        <li>Seções</li>
        <li><a href="#">Alimentação</a></li>
        <li><a href="#">Acessórios</a></li>
        <li><a href="#">Brinquedos</a></li>
        <li><a href="#">Cama, Mesa, Banho</a></li>
        <li><a href="#">Cosméticos</a></li>
        <li><a href="#">Roupas</a></li>
      </ul>
    
      <ul class="page-footer-flex">
        <li>Dúvidas</li>
        <li><a href="#">Atendimento</a></li>
        <li><a href="#">Ajuda online</a></li>
        <li><a href="#">Políticas da empresa</a></li>
      </ul>
    
      <div class="adopt page-footer-flex">
        <a href="#">Adote um Pet</a>
        <img src="../img/footer-adote-um-pet.png" alt="Logo da campanha 'Adote um Pet'" />
      </div>
    
      <ul class="page-footer-flex">
        <li>Institucional</li>
        <li><a href="#">Sobre a Petting Mall</a></li>
        <li><a href="#">Marcas Parceiras</a></li>
        <li><a href="#">Campanhas</a></li>
      </ul>
    
      <div class="social-media page-footer-flex">
        <p>Redes Sociais</p>
        <a href="#"><img src="../img/footer-vector-facebook.svg" alt="Logo do Facebook" /></a>
        <a href="#"><img src="../img/footer-vector-instagram.svg" alt="Logo do Instagram" /></a>
        <a href="#"><img src="../img/footer-vector-whatsapp.svg" alt="Logo do WhatsApp" /></a>
        <div class="logo-footer">
          <a href="#"><img src="../img/logo-petting-mall.png" alt="Logo da Petting Mall" /></a>
        </div>
      </div>
    
      <div class="copyright">
        <p>Copyright© 2022 PettingMall - Todos os direitos reservados</p>
        <p>Made with <span class="heart">♥</span> by Grupo5-fs_tn17</p>
      </div>
    </footer>
    </body>
    
    </html>
    