<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../stylesheets/confirmation.css">
  <title>Order Confirmation</title>
</head>

<body>
  <header>
    <nav class="navbar">
      
      <img class="menu-icon" src="/images/Hamburger_icon.svg" alt="Ícone do menu">

      <a href="#"><img class="logo-menu" src="./images/logo-petting-mall.png" alt="Logo da Petting Mall"></a>
      
      <div class="search-container">
        <span><img class="search-icon" src="./images/magnifying-glass.svg" alt="Ícone de lupa"></span>
        <input class="search-box" type="search" name="search" placeholder="Digite o nome do produto">
        <button class="search-button" type="submit">Buscar</button>
      </div>
      
      <div class="navbar-icons">
        <a href="#"><img src="./images/login-icon.png" alt="Ícone de login"></a>
        <a href="#"><img src="./images/cart-icon.png" alt="Ícone do carrinho de compras"></a>
      </div>

      <ul class="menu-list">
        <li><a href="#">Alimentação</a></li>
        <li><a href="#">Acessórios</a></li>
        <li><a href="#">Brinquedos</a></li>
        <li><a href="#">Cama & Mesa & Banho</a></li>
        <li><a href="#">Cosméticos</a></li>
        <li><a href="#">Roupas</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="order-confirmation">
      <h1>Pedido realizado com sucesso!</h1>
      <img src="/images/check.png" alt="Imagem de confirmação do pedido">
      <div class="numero-pedido">
        <h2>Número do pedido: 123456789</h2>
        <p>A confirmação do pedido será enviada para o e-mail cadastrado.</p>
        <a href="#">Detalhes do pedido</a>
      </div>
      <div class="dados-envio">
        <p>Dados do envio:</p>
        
        <% usuarios.forEach(usuario => { %>
          <p><span  id="nome-usuario"> <%= usuario.nome %>   </p>
            <% }) %>
<br>
        <% usuarios.forEach(usuario => { %>
          <p>
            <span  id="endereco-usuario"> <%= usuario.endereco %>   
            </p>
            
        <% }) %>
      </div>
    </section>

  </main>

  <footer class="page-footer">
    
    <ul class="page-footer-flex">
      <li>Seções</li>
      <li><a href="#">Alimentação</a></li>
      <li><a href="#">Acessórios</a></li>
      <li><a href="#">Brinquedos</a></li>
      <li><a href="#">Cama, Mesa, Banho</a></li>
      <li><a href="#">Cosméticos</a></li>
      <li><a href="#">Roupas</a></li>
    </ul>
    
    <ul class="page-footer-flex">
      <li>Dúvidas</li>
      <li><a href="#">Atendimento</a></li>
      <li><a href="#">Ajuda online</a></li>
      <li><a href="#">Políticas da empresa</a></li>
    </ul>
    
    <div class="adopt page-footer-flex">
      <a href="#">Adote um Pet</a>
      <img src="./images/adote-um-pet.png" alt="Logo da campanha 'Adote um Pet'">
    </div>

    <ul class="page-footer-flex">
      <li>Institucional</li>
      <li><a href="#">Sobre a Petting Mall</a></li>
      <li><a href="#">Marcas Parceiras</a></li>
      <li><a href="#">Campanhas</a></li>
    </ul>

    <div class="social-media page-footer-flex">
      <p>Redes Sociais</p>
      <a href="#"><img src="./images/vector-facebook.svg" alt="Logo do Facebook"></a>
      <a href="#"><img src="./images/vector-instagram.svg" alt="Logo do Instagram"></a>
      <a href="#"><img src="./images/vector-whatsapp.svg" alt="Logo do WhatsApp"></a>
      <div class="logo-footer">
        <a href="#"><img src="./images/logo-petting-mall.png" alt="Logo da Petting Mall"></a>
      </div>
    </div>

    <div class="copyright">
      <p>Copyright© 2022 PettingMall - Todos os direitos reservados</p>
      <p>Made with <span class="heart">♥</span> by Grupo5-fs_tn17</p>
    </div>
    
  </footer>
  
  <script src="/public/javascripts/confirmation.js"></script>

</body>

</html>