<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/users.css">
    <title>Document</title>
</head>
<!-- include('./partials/header.ejs') -->

<body>
    <div class="tamanho">

        <input type="checkbox" id="chec">
        <label class="menu-aberto" for="chec">
            <img src="/images/menu-aberto.png" alt="" class="menuPagina">

        </label>
        <nav class="menu">
            <ul class="lista">
                <li><a class="mn" href="">Minha Conta</a> </li>
                <li> <a class="mn" href="">Meus Pedidos</a></li>
                <li> <a class="mn" href="">Assinaturas</a></li>
                <li> <a class="mn" href="">Meus Cartões</a></li>
                <li><a class="mn" href="">Endereço</a></li>
                <li><a class="mn" href="">Favoritos</a></li>
                <li><a class="mn" href="">Sair</a></li>
            </ul>
        </nav>


        <main>
            <div class="titulo">
                <ul>
                    <li class="dados"> <img src="/images/menu-login-icon.png" class="imgDados" width="50px"
                        height="50px" alt=""> <a href="http://"><span>Nome do Usuário</span></a>
                    <br>
                    <br>
                    <span class="span" style="margin-left: 105px;">Dados validados</span>
                </li>
                </ul>
            </div>
            <div class="tituloTwo">
                <ul>
                   
                    <li class="dados"> <img src="/images/icone_segurança.png" class="imgDados" width="50px"
                            height="50px" alt=""> <a href="http://"><span>Segurança</span></a>
                        <br>
                        <br>
                        <span class="span" style="margin-left: 105px;">Você tem configurações pendentes</span>
                    </li>
                    <li class="dados"> <img src="/images/icone_pedido.png" class="imgDados" width="50px"
                            height="50px" alt=""> <a href="http://"><span>Meus Pedidos</span></a>
                        <br>
                        <br>
                        <span class="span" style="margin-left: 105px;">Selecione se há pedidos</span>
                    </li>
                    <li class="dados"> <img src="/images/icone_pet.png" class="imgDados" width="50px"
                            height="50px" alt=""> <a href="http://"><span>Meus Pets</span></a>
                        <br>
                        <br>
                        <span class="span" style="margin-left: 105px;">Adicionar um novo Pet</span>
                    </li>
                    <li class="dados"> <img src="/images/icone_cartao.png" class="imgDados" width="50px"
                            height="50px" alt=""> <a href="http://"><span>Meus Cartões</span></a>
                        <br>
                        <br>
                        <span class="span" style="margin-left: 105px;">Meus cartões cadastrados</span>
                    </li>
                    <li class="dados"> <img src="/images/icone_assinatura.png" class="imgDados" width="50px"
                            height="50px" alt=""> <a href="http://"><span>Assinatura</span></a>
                        <br>
                        <br>
                        <span class="span" style="margin-left: 105px;">Minhas Assinaturas</span>
                    </li>
                    <br>
                </ul>
            </div>


        </main>
    </div>

</body>

</html>




<%- %>

    <!-- <div class="usuarioOne" >

    <div class="usuarioTwo">

        <img id="usuarioImg"  src="./images/user-icon-.jpg" alt="74472">
        <br>
        <br>

       <a href="">Minha Conta</a>
       <br>
       <a href="">Meus Pedidos</a>
       <br>
       <a href="">Meus Endereços</a>
       <br>
       <a href="">Sair</a>
    </div>

    <div class="usuarioThree" >
        <div class="produtoPetOne">
            <p>Produto</p>
            <img src="./images/3beb17d538b3b8b9720a0ee0c79ba227.jpg" alt="../public/images/3beb17d538b3b8b9720a0ee0c79ba227.jpg" width="50px" height="50px" >
            <p>Produto Pet</p>
        </div>
        <div>
            <p>Produto</p>
            <img src="./images/3beb17d538b3b8b9720a0ee0c79ba227.jpg" alt="../public/images/3beb17d538b3b8b9720a0ee0c79ba227.jpg" width="50px" height="50px" >
            <p>Produto Pet</p>
        </div>
        <div>
            <p>Produto</p>
            <img src="./images/3beb17d538b3b8b9720a0ee0c79ba227.jpg" alt="../public/images/3beb17d538b3b8b9720a0ee0c79ba227.jpg" width="50px" height="50px" >
            <p>Produto Pet</p>
        </div>
    </div>
</div> -->