<%-include('./partials/header.ejs')%>

<main>
    <div class="usuarioOne" >
        
        <div class="usuarioTwo">
            
            <img id="usuarioImg"  src="./images/user-icon-.jpg" alt="74472">
            <br>
            <br>
             
           <a href="">Minha Conta</a>
           <br>
           <a href="">Meus Pedidos</a>
           <br>
           <a href="">Meus Endereços</a>
           <br>
           <a href="">Sair</a>
        </div>
        
        <div class="usuarioThree" >
            <div class="produtoPetOne">
                <p>Produto</p>
                <img src="./images/3beb17d538b3b8b9720a0ee0c79ba227.jpg" alt="../public/images/3beb17d538b3b8b9720a0ee0c79ba227.jpg" width="50px" height="50px" >
                <p>Produto Pet</p>
            </div>
            <div>
                <p>Produto</p>
                <img src="./images/3beb17d538b3b8b9720a0ee0c79ba227.jpg" alt="../public/images/3beb17d538b3b8b9720a0ee0c79ba227.jpg" width="50px" height="50px" >
                <p>Produto Pet</p>
            </div>
            <div>
                <p>Produto</p>
                <img src="./images/3beb17d538b3b8b9720a0ee0c79ba227.jpg" alt="../public/images/3beb17d538b3b8b9720a0ee0c79ba227.jpg" width="50px" height="50px" >
                <p>Produto Pet</p>
            </div>
        </div>
    </div>
</main>


<%-include('./partials/footer.ejs')%>
    