<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/users.css">
    <title>Document</title>
</head>
<!-- include('./partials/header.ejs') -->
<body>
    <div class="tamanho" >

     <input type="checkbox" id="chec"  >
     <label class="menu-aberto" for="chec">
   <img src="/images/menu-aberto.png" alt="" srcset="">

     </label>
    <nav class="menu" >
            <ul class="lista" >
                <li><a class="mn" href="">Minha Conta</a> </li>
                <li> <a class="mn" href="">Meus Pedidos</a></li>
            <li><a class="mn" href="">Endereco</a></li>
            <li><a class="mn" href="">Sair</a></li>
            <li><a class="mn" href="">NAO SEI</a></li>
        </ul>
    </nav>
    
</div>
    
</body>
</html>



<main>



</main>


<%-   %> 

<!-- <div class="usuarioOne" >

    <div class="usuarioTwo">

        <img id="usuarioImg"  src="./images/user-icon-.jpg" alt="74472">
        <br>
        <br>

       <a href="">Minha Conta</a>
       <br>
       <a href="">Meus Pedidos</a>
       <br>
       <a href="">Meus Endereços</a>
       <br>
       <a href="">Sair</a>
    </div>

    <div class="usuarioThree" >
        <div class="produtoPetOne">
            <p>Produto</p>
            <img src="./images/3beb17d538b3b8b9720a0ee0c79ba227.jpg" alt="../public/images/3beb17d538b3b8b9720a0ee0c79ba227.jpg" width="50px" height="50px" >
            <p>Produto Pet</p>
        </div>
        <div>
            <p>Produto</p>
            <img src="./images/3beb17d538b3b8b9720a0ee0c79ba227.jpg" alt="../public/images/3beb17d538b3b8b9720a0ee0c79ba227.jpg" width="50px" height="50px" >
            <p>Produto Pet</p>
        </div>
        <div>
            <p>Produto</p>
            <img src="./images/3beb17d538b3b8b9720a0ee0c79ba227.jpg" alt="../public/images/3beb17d538b3b8b9720a0ee0c79ba227.jpg" width="50px" height="50px" >
            <p>Produto Pet</p>
        </div>
    </div>
</div> -->