@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600&display=swap');

:root {
  --primary-color: rgb(56, 186, 174);
  --secondary-color: #f6cd92;
  --light-color: #fefaee;
  --text-color: #C4B691;
  --stronger-yellow: #ffb236;
  --dark-color: #081c15;
}

html{
   display: flex;
   justify-content: center;
}



a{
    text-decoration: none;
    color: #081c15;
}

* li {
    list-style-type: none;
}
body {
    background-image: url(./fundo.jpeg);
    font-family: 'Open Sans', sans-serif;
    flex-flow:column;
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1280px;
    align-items: center;
    justify-content: center;
}


main{
  height:1200px;
}


  

body main aside {
    max-width: 20%;
    padding: 1rem;
    background-color: rgba(56, 186, 174,0.5);
    flex-grow: 0;
    flex-shrink: 3;
}
.conta{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  flex-grow: 3;

}

/* MAIN */

form{
  border-radius: 0.5rem;
}
.main a {
  margin-left: 3rem;
  color: var(--primary-color);
  font-style: italic;
}
 h2{

  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
 input {
  margin-left: 0.5rem;
  width: 15rem;
  height:1.7rem;
  border: 0.2rem solid var(--secondary-color);
  border-radius: 0.5rem;
}
 label{
  margin-left: 0.5rem;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
}
 button{
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: var(--light-color);
  cursor: pointer;
  font-size: 1.1rem;
  margin: 1rem 0 0.5rem 0;
  padding: 0.4rem;
  transition: all 300ms ease;

}

.cadastro{
  color: var(--dark-color);
  display: flex;


}
 
h3{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 1.5rem;
 border: 0.3rem solid var(--secondary-color);
 background-color: aliceblue;
 margin-left: 1rem  ;
 margin-right: 1rem  ;
 
}

 .coluna-cadastro {
  display: flex;
 justify-content: space-between;
  font-size: 1.5rem;
 border: 1rem solid gray;
 background-color: aliceblue;
}

.coluna-cadastro {
  height: 10px;
}

 main .menuThree{
 display: flex;
 flex-direction: row;
 background-color: var(--primary-color);
 font-weight: bolder;
 border: 1rem solid black;
 border-radius: 15px;
 }
.menuThree .buttonSalvar button{
  border: 0.1rem solid black;
}
main .menuOne {
  height: 5rem;
 display: flex;
justify-content: space-around;

 background-color: var(--primary-color);
 font-weight: bolder;
 border: 1rem solid black;
 border-radius: 15px;
}
.coluna{
  margin-left: -5rem;
  display: flex;
 flex-direction: row;

}


 .menuTwo  {
 display: flex;
 flex-direction: row;
 background-color: var(--primary-color);
 font-weight: bolder;
 border: 1rem solid black;
 border-radius: 15px;
 }

 .buttonOne{
  display: flex;
 justify-content:space-around;
  background-color: var(--primary-color);
  font-weight: bolder;
  font-size: 1.5rem;
 border: 1rem solid black;
  border-radius: 15px;

  align-items: center;
  gap:1rem;
 }
 .buttonOne button{
  border-radius: 15px;
  border: 0.1rem solid black;
  transition: all 300ms ease;
 }
 .buttonOne button:hover ,
 .buttonOne button:focus{
 background-color: aquamarine;
  }

.btn{


  width: 5rem;
  color: white;
  float: right;
  border: 0.1rem solid black;
  transition: all 300ms ease;
}
.btn:hover ,
 .btn:focus{
 background-color: aquamarine;
  }

----------------------------------------------------



.btnOne{


  width: 5rem;
  color: white;
  float: right;
  border: 0.1rem solid black;
  transition: all 300ms ease;
}
.btnOnehover ,
 .btnOne:focus{
 background-color: aquamarine;
  }



  

.item{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  
}

main .body{
  display: flex;
  flex-direction: column;
  
}
main.listaOne {
  width: 70rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main .adicionar-forma{
  display: flex;
  flex-direction:column;
  gap: 1rem;
  font-size: 1.5rem;
}


/* -------------------------------------------- */


header{
 width: 100%;
 box-sizing: border-box;
}
footer{
  width: 100%;
}


/* Page Menu */

.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;

}

.navbar a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

.menu-icon {
  cursor: pointer;
}

.logo-menu {
  max-width: 240px;
  width: 45vw;
}

.navbar-icons {
  display: flex;
  gap: 1rem;
}

.navbar-icons img {
  width: 2rem;
}

.menu-list {
  display: none;
  list-style: none;
}

/* Search Container */
.search-container {
  order: 4;
  display: grid;
  grid-template-columns: 1.75rem 4fr 1fr;
  background-color: var(--light-color);
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  margin: 0.5rem auto;
  max-width: 80vw;
  overflow: hidden;
  width: 100%;
}

.search-container:focus-within span {
  display: none;
}

.search-container:focus-within .search-box {
  grid-column: 1/4;
}

.search-container:focus-within .search-box::placeholder {
  color: transparent;
}

.search-icon {
  color: var(--secondary-color);
  padding: 0.35rem 0.25rem 0.25rem;
  grid-row: 1;
  grid-column: 1/2;
  z-index: 2;
}

.search-box {
  border: 0;
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem;
  grid-column: 2/4;
  grid-row: 1;
  outline: none;
}

.search-button {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: var(--light-color);
  cursor: pointer;
  padding: 0.5rem;
  grid-column: 4/5;
  grid-row: 1;
  transition: all 300ms ease;
}

.search-button:hover {
  color: var(--secondary-color);
  filter: brightness(85%);
}


/* Page Footer */

.page-footer {
  background-color: var(--primary-color);
  color: var(--dark-color);
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.page-footer-flex {
  margin: 1.15rem auto;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: center;
  text-align: center;
}

.page-footer>ul li:first-child {
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
}

.page-footer a {
  color: inherit;
  text-decoration: none;
}

.page-footer li {
  list-style: none;
}

.adopt a {
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 1rem;
  text-align: center;
  width: 100%;
}

.adopt img {
  margin: 0 auto;
  max-width: 230px;
  width: 50%;
}

.social-media p {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.social-media>a img {
  width: 2rem;
}

.logo-footer {
  padding-top: 1rem;
  text-align: center;
  width: 100%;
}

.logo-footer img {
  max-width: 200px;
}

.copyright p {
  color: var(--dark-color);
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
  text-align: center;
  width: 100%;
}

.copyright .heart {
  color: red;
  font-size: 1rem;
}


@media screen and (min-width: 769px) {

  /* Page Menu */
  .navbar {
    margin: 0 auto;
    padding: 1rem 2rem;
  }

  .menu-icon {
    display: none;
  }

  .search-container {
    order: 0;
    max-width: 45vw;
    width: 50%;
  }

  .search-box {
    font-size: 1rem;
  }

  .menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--secondary-color);
    margin: 0 auto;
    width: 100%;
  }

  .menu-list a {
    display: block;
    font-weight: bold;
    position: relative;
    transition: all 300ms ease-in-out;
  }

  .menu-list a:hover {
    color: var(--stronger-yellow);
  }

  .menu-list a::after {
    background-color: var(--stronger-yellow);
    content: '';
    position: absolute;
    bottom: -0.4rem;
    height: 0.2rem;
    left: 50%;
    width: 0;
    transition: all 300ms ease-in-out;
  }

  .menu-list a:hover::after {
    left: 46%;
    width: 0.5rem;
  }

  /* Page Footer */
  .page-footer {
    grid-template-columns: repeat(5, 1fr);
    align-items: start;
  }

  .page-footer-flex {
    flex-direction: column;
    text-align: left;
  }

  .page-footer .social-media {
    flex-direction: row;
    justify-content: center;
  }

  .copyright {
    grid-column: 1 / span 5;
    margin-top: -2rem;
  }
}

.category{

  width: 9rem;
  float:left;
  margin-right: 3rem;

}

.categoryTwo{
  margin-top: 5rem;

  width: 9rem;
  float:left;
}

main table{
  width: 40rem;
  margin-top: 3rem; 
 
}

main table thead th{
margin: 3rem auto;
border: 0.1rem solid black;
background-color: #eee;
}

main table tbody tr td{

border: 0.1rem solid black;
}

.cat{
  display: flex;
  flex-direction: column;
}

/* ______________________________________________________________________________ */

/* Estilos para a página de administração */

/* Definindo estilos para a seção de categorias */
.cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.cat h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.cat ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.cat ul li {
  list-style: none;
  margin-right: 20px;
}

.cat ul li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.cat ul li a:hover {
  color: #4a4a4a;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.category h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.category label {
  font-size: 1.2rem;
  margin-right: 10px;
}

.category input[type="text"],
.category select {
  font-size: 1.2rem;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.category input[type="submit"] {
  background-color: #4a4a4a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.category input[type="submit"]:hover {
  background-color: #3e3e3e;
}

/* Definindo estilos para a tabela de produtos */
table {
  width: 100%;
  margin-top: 50px;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #4a4a4a;
  color: #fff;
  font-weight: bold;
}

/* Definindo estilos para a seção de categorias */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section h2 {
  font-size: 1.5rem;
  margin-top: 50px;
  margin-bottom: 20px;
}

section table {
  width: 100%;
  margin-top: 50px;
  border-collapse: collapse;
}

section th,
section td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

section th {
  background-color: #4a4a4a;
  color: #fff;
  font-weight: bold;
}
