@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600&display=swap');

:root {
  /* Colors */
  --primary-color: rgb(56, 186, 174);
  --primary-opacity: rgba(56, 186, 174, 0.2);
  --secondary-color: rgb(246, 205, 146);
  --secondary-opacity: rgba(246, 205, 146, 0.2);
  --light-color: #fefaee;
  --text-color: #C4B691;
  --stronger-yellow: #ffb236;
  --dark-color: #0b271d;
  /* Sizes */
  --categorias-min-size: 300px;
  --max-screen-size: 1280px;
}
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('/images/background-image.jpeg');

}
 
.menuPagina{
   width: 2.5rem;
} 

input[type="checkbox"]
{
    display: none;
}
.lista{
    background-color: var(--primary-color);
    position: absolute;
    top: 70px;
    width: 100%;
}

 .mn{
  
     display: block;
     padding: 20px 5px;
     color: white;
     width:15.625rem;    
    }
    .mn:hover{

    color: black;
}

.menu-aberto{
   z-index: 1;
    padding: 15px;
    position: absolute;
}


nav {

height: 100%;
width: 15.625rem;
position: absolute;
left: -15.625rem;
transition: all .5s;
}

input[type="checkbox"]:checked ~nav
{
    transform: translateX(15.625rem);
}

.tamanho{
    width: 100%;
    height: 100%;
}

#conteudo{
 width:70%;
    float: right;
    text-align: center;
    }

ul{
    list-style: none;
}



.titulo{
    border-radius: 0.9rem;
    border: 0.2rem solid black;
    margin-left: 30.5rem;
    margin-bottom: -2rem;
    width: 25rem;
    background-color: var(--primary-opacity);
}
.dados{
    margin-top: 0.5rem;
    margin-left: 1rem;
}
 p{
    margin-left: 2rem;
}

.tituloTwo{
    background-color: var(--primary-opacity);
    width: 25rem;
    margin-top: 5rem;
    margin-left: 30.5rem;
    border: 0.2rem solid black;
    border-radius: 0.9rem;
}

ul > li > a{
    margin-left: 3rem;
    color: black;  
    font-size:25px
}

.meu-link{
    text-decoration: none;
}


.imgDados{
border:0.3rem solid black;
border-radius: 5rem;
}

.span{
 font-size:17px
}

/* .menu{
position: fixed;
float: left;
width: 30%;
}

#menu ul li{
    margin: 0;
    padding: 0;
    border-bottom: 1px solid gray;
    text-align: center;
    list-style-type: none;
} */
/* #menu a:link {
    background: #F5F5F5;
    color: #666;
    font-weight: bold;
    text-decoration: none;
    padding: 8px;
    display: block;
    } */

    /* ----------------------------------------MAIN----------------------------------------------------------- */

    